.container {
  & .relatedProjects {
    & .relatedProject {
      margin-top: 40px;

      &:nth-child(1) { margin: 0; }

      & .image {
        height: 150px;
        width: 100%;
        object-fit: cover;
      }

      & .title {
        display: block;
        margin: 0;
        margin-top: 20px;
        font-size: 16px;
        font-weight: bold;
        transition: .3s;

        &:hover {
          color: var(--blue);
        }
      }
    }

  }

  @media screen and (max-width: 992px) {
    overflow-x: auto;

    &::-webkit-scrollbar {
      height: 0;
    }

    &::-webkit-scrollbar-track {
      background: var(--black-gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--blue);
    }

    & .relatedProjects {
      display: flex;
      width: fit-content;

      & .relatedProject {
        padding: 20px;
        width: 350px;
        margin: 0;
        margin-left: 10px;
        background: var(--black);

        &:nth-child(1) { margin: 0; }
      }
    }
  }
}
