.pagination {
  display: flex;
  width: 100%;
  justify-content: center;

  & .button {
    cursor: pointer;
    margin-left: 10px;
    padding: 10px 15px;
    border: solid 1px var(--black);
    background: var(--black);
    color: var(--white);
    font-size: 16px;
    font-weight: bold;
    transition: .3s;

    &:hover, &.active {
      color: var(--blue);
      border-color: var(--blue);
    }

    &:disabled {
      cursor: default;
      color: var(--black-gray);

      &:hover {
        border-color: var(--black);
      }
    }
  }

  @media screen and (max-width: 600px) {
    & .button {
      display: none;

      &.arrowButton, &.active { display: initial; }
    }
  }
}
