.carousel {
  position: relative;

  & .dragMark {
    z-index: 10;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    border: dashed 2px var(--blue);
    color: var(--blue);

    &.active { display: flex; }

    & .text {
      pointer-events: none;
      font-size: 20px;
      font-weight: bold;
    }

    & i {
      pointer-events: none;
      font-size: 50px;
    }
  }

  & .loaderContainer {
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);

    & .message {
      font-weight: bold;
      font-size: 20px;
    }
  }

  & .errorMessage {
    color: var(--red);
    font-weight: bold;
    font-size: 14px;
  }

  & .inputFile { display: none }

  & .addImageButton {
    cursor: pointer;
    background: var(--black-gray);
    padding: 20px 40px;
    color: var(--white);
    border: solid 2px var(--black-gray);
    font-size: 30px;
    transition: .3s;

    &:hover {
      color: var(--blue);
      background: var(--black);
      border-color: var(--blue);
    }
  }

  & .previewContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 350px;

    & .previewImage {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
}
