@import "highlight.js/scss/github-dark.scss";

@import "./buttons.scss";

:root {
  --purple: #6930C3;
  --blue: #64DFDF;
  --white: #dfdfdf;
  --black: #0c0c0c;
  --gray: #b0b0b0;
  --red: #DF6464;

  --black-gray: #292929;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #151515;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.body {
  min-height: calc(100vh - 200px);
}
