.technologies {
  display: flex;
  margin-top: 20px;

  & .technologiesList {
    & .technology {
      display: inline-block;
      margin: 0 10px;;
    }
  }

  & .editButton {
    cursor: pointer;
    background: transparent;
    color: var(--white);
    font-size: 16px;
    border: none;
    padding: 0;
    margin-left: 10px;
    transition: .3s;

    &:hover { color: var(--blue); }
  }
}
