.container {
  margin-top: 40px;
  display: grid;
  width: 100%;
  padding: 0 20px;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;


  & .projectContainer {
    padding: 20px;
    background: var(--black);
    height: fit-content;
    grid-column: 1 / 4;

    & .title {
      font-size: 25px;
      margin: 20px 0;
    }

    & .technologiesContainer {
      margin-top: 20px;

      & .technology {
        margin: 0 10px;
        font-weight: bold;
        font-size: 12px;
        transition: .3s;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }

  & .relatedProjectsContainer {
    padding: 20px;
    background: var(--black);
    grid-column: 4 / 5;
    height: fit-content;

    & .subtitle {
      margin: 0;
    }

    & .relatedProjects {
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 992px) {
    & .projectContainer { grid-column: 1 / 5; }

    & .relatedProjectsContainer {
      padding: 0;
      grid-column: 1 / 5;
      margin-top: 40px;
      background: transparent;
    }
  }
}
