.container {
  margin-top: 40px;
  display: flex;

  & .projectContainer {
    padding: 20px;
    width: 70%;
    background: var(--black);

    & .title {
      font-size: 25px;
      margin: 20px 0;
    }

    & .technologiesContainer {
      margin-top: 20px;

      & .technology {
        margin: 0 10px;
        font-weight: bold;
        font-size: 12px;
        transition: .3s;

        &:hover {
          color: var(--blue);
        }
      }
    }
  }

  & .relatedProjectsContainer {
    width: 30%;
    background: var(--purple);
  }
}
