.modal {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  overflow: auto;

  &.centerModal {
    align-items: center;

    & .content { margin: 0; }
  }

  & .closeButton {
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    color: var(--white);
    background: transparent;
    font-size: 25px;
    transition: .3s;

    &:hover { color: var(--blue); }
  }

  & .content {
    width: 100%;
    height: fit-content;
    margin: 80px 0;
    background: var(--black);
    animation: animateModal .3s forwards;
  }
}

@keyframes animateModal {
  from { transform: translateY(-1000px); }
  to { transform: translateY(0); }
}
