.markdown {
  & li {
    margin: 10px 0;
  }

  & img {
    max-width: 100%;
  }

  & code {
    font-weight: bold;
    line-height: 2;
    display: block;
    padding: 20px;

    &.codeSpan {
      padding: 0;
      display: initial;
      color: var(--blue);
      line-height: 1;
    }
  }


  & a {
    transition: .3s;
    text-decoration: underline;

    &:hover {
      color: var(--blue);
    }
  }
}
