.selectBox {
  position: relative;
  width: 100%;

  & .button {
    position: relative;
    cursor: pointer;
    word-wrap: nowrap;
    background: var(--black);
    border: solid 1px var(--black);;
    height: 55px;
    width: 100%;
    padding: 0 15px;
    color: var(--white);
    font-weight: bold;
    font-size: 14px;
    text-align: start;
    transition: .3s;

    &:hover, &.active { background: var(--black-gray); }

    // &.active { border-color: var(--blue); }

    & i {
      position: absolute;
      right: 15px;
      margin-left: 5px;
    }
  }

  & .values {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    max-height: 200px;
    border: solid 1px var(--black-gray);
    border-top: none;
    background: var(--black);
    overflow: auto;

    &::-webkit-scrollbar {
      width: 3px;
    }

    &::-webkit-scrollbar-track {
      background: var(--black-gray);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--blue);
    }

    & .value {
      cursor: pointer;
      padding: 15px;
      transition: .3s;

      &:hover {
        background: var(--black-gray);
      }
    }
  }
}
