.content {
  & .previewContainer {
    border: solid 1px var(--white);
    padding: 20px;
  }

  & .contentEditor {
    & textarea {
      height: 300px !important;
    }

    & .previewButton {
      cursor: pointer;
      background: var(--black);
      color: var(--white);
      font-weight: bold;
      font-size: 16px;
      border: none;
      margin-top: 10px;
      transition: .3s;

      &:hover { color: var(--blue); }

      & i { margin-right: 5px; }
    }
  }
}
