.projectEditor {
  padding: 20px;
  margin-bottom: 40px;
  background: var(--black);

  & .inputContainer {
    margin-top: 40px;
  }

  & .loaderContainer {
    display: inline-block;
    color: var(--blue);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
  }

  & .errorMessage {
    margin-top: 20px;
    color: var(--red);
    font-weight: bold;
    font-size: 15px;

    & i {
      margin-right: 5px;
    }
  }

  & .buttons {
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 2px var(--black-gray);

    & .button {
      cursor: pointer;
      font-weight: bold;
      border: none;
      background: transparent;
      font-size: 16px;
      padding: 15px 30px;
      color: var(--blue);
      text-align: center;
      transition: .3s;

      &:hover {
        background: rgba(100, 223, 223, 10%);
      }

      &.secondary {
        margin-left: 20px;
        color: var(--red);

        &:hover {
          background: rgb(223, 100, 100, 10%);
        }
      }
    }

  }

  @media screen and (max-width: 575px) {
    & .buttons {
      display: flex;

      & .button { width: 50%; }
    }
  }
}
